#
# Run phpLDAPAdmin as a sub-domain virtual host.
#
location / {
    root    /opt/www/phpldapadmin;
    index   index.php index.html;
    include /etc/nginx/templates/hsts.tmpl;
}

location ~ \.php$ {
    root /opt/www/phpldapadmin;
    include /etc/nginx/templates/fastcgi_php.tmpl;
    fastcgi_param SCRIPT_FILENAME /opt/www/phpldapadmin$fastcgi_script_name;
}

location ~ ^/(VERSION)$ { deny all; }
