# PHP LDAP Admin
location = /phpldapadmin {
    return 301 /phpldapadmin/;
}

location ~ ^/phpldapadmin/(.*\.php)$ {
    include /etc/nginx/templates/hsts.tmpl;
    include /etc/nginx/templates/fastcgi_php.tmpl;
    fastcgi_param SCRIPT_FILENAME /opt/www/phpldapadmin/$1.php;
}

location ~ ^/phpldapadmin(.*) {
    alias /opt/www/phpldapadmin/$1;
    index index.php;
}

location ~ ^/(VERSION)$ { deny all; }